In [145]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [146]:
import warnings
warnings.filterwarnings("ignore")

In [147]:
df = pd.read_csv("./House_Rent_Dataset.csv")

In [148]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,5/18/2022,2,10000.0,1100.0,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2.0,Contact Owner
1,5/13/2022,2,20000.0,NaN,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1.0,Contact Owner
2,5/16/2022,2,17000.0,1000.0,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1.0,Contact Owner
3,7/4/2022,2,10000.0,NaN,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1.0,Contact Owner
4,5/9/2022,2,7500.0,850.0,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1.0,Contact Owner

In [149]:
df.drop(columns=["Posted On", "Point of Contact", "Area Locality"], inplace=True)

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BHK                4746 non-null   int64
 1   Rent               4741 non-null   float64
 2   Size               4738 non-null   float64
 3   Floor              4746 non-null   object
 4   Area Type          4739 non-null   object
 5   City               4746 non-null   object
 6   Furnishing Status  4746 non-null   object
 7   Tenant Preferred   4746 non-null   object
 8   Bathroom           4742 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 333.8+ KB

In [151]:
df.describe()

               BHK          Rent         Size     Bathroom
count  4746.000000  4.741000e+03  4738.000000  4742.000000
mean      2.083860  3.502340e+04   967.936049     1.965837
std       0.832256  7.814214e+04   634.562635     0.884904
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [152]:
df.isnull().sum()

BHK                  0
Rent                 5
Size                 8
Floor                0
Area Type            7
City                 0
Furnishing Status    0
Tenant Preferred     0
Bathroom             4
dtype: int64

In [153]:
df.dropna(inplace=True)

In [154]:
print("Number of duplicate rows:", df.duplicated().sum())
df.drop_duplicates(inplace=True)

Number of duplicate rows: 41

In [155]:
print("Number of null values in each column:", df.isnull().sum().sum())
print("Number of duplicate rows:", df.duplicated().sum())

Number of null values in each column: 0
Number of duplicate rows: 0

In [156]:
num_cols = df.select_dtypes(exclude=['object']).columns.tolist()
print("Length of numerical columns:", len(num_cols))
print("Numerical columns:", num_cols)

Length of numerical columns: 4
Numerical columns: ['BHK', 'Rent', 'Size', 'Bathroom']

In [157]:
def cap_outliers_iqr(df, cols):
    df_capped = df.copy()
    for col in cols:
        Q1 = df_capped[col].quantile(0.25)
        Q3 = df_capped[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        df_capped[col] = df_capped[col].apply(
            lambda x: lower_bound if x < lower_bound else upper_bound if x > upper_bound else x
        )
    return df_capped

In [158]:
df = cap_outliers_iqr(df, num_cols)

print(df.describe())

               BHK          Rent         Size     Bathroom
count  4685.000000   4685.000000  4685.000000  4685.000000
mean      2.082284  24677.977161   933.871078     1.924440
std       0.816021  19949.702181   508.073384     0.756378
min       1.000000   1200.000000    10.000000     1.000000
25%       2.000000  10000.000000   558.000000     1.000000
50%       2.000000  16000.000000   850.000000     2.000000
75%       3.000000  33000.000000  1200.000000     2.000000
max       4.500000  67500.000000  2163.000000     3.500000

In [159]:
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
print("Length of categorical columns:", len(cat_cols))
print("Categorical columns:", cat_cols)

Length of categorical columns: 5
Categorical columns: ['Floor', 'Area Type', 'City', 'Furnishing Status', 'Tenant Preferred']

In [160]:
for col in cat_cols[:3]:
  print(df[col].value_counts())

Floor
1 out of 2         370
Ground out of 2    336
2 out of 3         309
2 out of 4         302
1 out of 3         289
                  ...
1 out of 11          1
6 out of 29          1
28 out of 31         1
1 out of 15          1
2 out of 11          1
Name: count, Length: 480, dtype: int64
Area Type
Super Area     2413
Carpet Area    2270
Built Area        2
Name: count, dtype: int64
City
Mumbai       968
Chennai      880
Bangalore    874
Hyderabad    863
Delhi        599
Kolkata      501
Name: count, dtype: int64

In [161]:
for col in cat_cols[3:6]:
  print(df[col].value_counts())

Furnishing Status
Semi-Furnished    2227
Unfurnished       1786
Furnished          672
Name: count, dtype: int64
Tenant Preferred
Bachelors/Family    3396
Bachelors            819
Family               470
Name: count, dtype: int64

In [162]:
# Split and clean both parts
split_floor = df["Floor"].str.split("out of", expand=True)

# Strip whitespace from both columns
split_floor[0] = split_floor[0].fillna("").str.strip()
split_floor[1] = split_floor[1].fillna("").str.strip()

In [163]:
split_floor[0] = split_floor[0].replace({
    "Ground": "0",
    "Upper Basement": "-1",
    "Basement": "-2",
    "Lower Basement": "-3"
})

In [164]:
df["Current Floor"] = pd.to_numeric(split_floor[0], errors="coerce").astype("Int64")
df["Total Floors"] = pd.to_numeric(split_floor[1], errors="coerce").astype("Int64")

In [165]:
df.drop(columns=["Floor"], inplace=True)

In [166]:
df = df[df["Area Type"] != "Built Area"]

In [167]:
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
print("Length of categorical columns:", len(cat_cols))
print("Categorical columns:", cat_cols)

Length of categorical columns: 4
Categorical columns: ['Area Type', 'City', 'Furnishing Status', 'Tenant Preferred']

In [168]:
df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=True)

In [169]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4683 entries, 0 to 4745
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   BHK                                4683 non-null   float64
 1   Rent                               4683 non-null   float64
 2   Size                               4683 non-null   float64
 3   Bathroom                           4683 non-null   float64
 4   Current Floor                      4683 non-null   Int64
 5   Total Floors                       4679 non-null   Int64
 6   Area Type_Super Area               4683 non-null   bool
 7   City_Chennai                       4683 non-null   bool
 8   City_Delhi                         4683 non-null   bool
 9   City_Hyderabad                     4683 non-null   bool
 10  City_Kolkata                       4683 non-null   bool
 11  City_Mumbai                        4683 non-null   bool
 12  Furnishing Status_Semi-Furnished   4683 non-null   bool
 13  Furnishing Status_Unfurnished      4683 non-null   bool
 14  Tenant Preferred_Bachelors/Family  4683 non-null   bool
 15  Tenant Preferred_Family            4683 non-null   bool
dtypes: Int64(2), bool(10), float64(4)
memory usage: 311.0 KB

In [170]:
from sklearn.model_selection import train_test_split, GridSearchCV
import seaborn as sns
from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [171]:
df_encoded.head()

,BHK,Rent,Size,Bathroom,Current Floor,Total Floors,Area Type_Super Area,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Tenant Preferred_Bachelors/Family,Tenant Preferred_Family
0,2.0,10000.0,1100.0,2.0,0,2,True,False,False,False,True,False,False,True,True,False
2,2.0,17000.0,1000.0,1.0,1,3,True,False,False,False,True,False,True,False,True,False
4,2.0,7500.0,850.0,1.0,1,2,False,False,False,False,True,False,False,True,False,False
5,2.0,7000.0,600.0,2.0,0,1,True,False,False,False,True,False,False,True,True,False
6,2.0,10000.0,700.0,2.0,0,4,True,False,False,False,True,False,False,True,False,False

In [172]:
scaler = StandardScaler()
numerical_cols = ["BHK", "Size", "Bathroom", "Current Floor", "Total Floors"]
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)